

.stories{
    height: 21rem;
    width: 11rem;
    background-color: #747274;
    border-radius: 1rem;
    padding: 0.5rem;
    cursor: pointer;
}

@media (min-width: 501px) and (max-width: 890px) {
    .stories{
        height: 19rem;
        width: 9.65rem;
    }
  }

@media all and (max-width: 500px) {
    .stories{
        height: 18.65rem;
        width: 9.15rem;
    }
  }

.stories:hover{
    transition: ease-in-out 0.4s;
    transform: scale(1.05);
}
  

.image{
    height: 7rem;
    width: 7rem;
    border-radius: 0.75rem;
    background-color: aqua;
    display: block;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

@media (min-width: 501px) and (max-width: 890px) {
    .image{
        height: 6.25rem;
        width: 6.25rem;
        margin-top: 0.8rem;
        margin-bottom: 0.4rem;
    }
  }

  @media all and (max-width: 500px) {
    .image{
        height: 5.7rem;
        width: 5.7rem;
        margin-top: 0.5rem;
        margin-bottom: 0.33rem;
    }
  }


.story{
    font-weight: 600;
    margin-top: 1rem;
}

@media (min-width: 501px) and (max-width: 890px) {
    .story{
        margin-top: 0.7rem;
    }
  }

  @media all and (max-width: 500px) {
    .story{
        margin-top: 0.35rem;
    }
  }

.name{
    color: #3066be;
    font-weight: 600;
    margin-top: 1rem;
}

@media (min-width: 501px) and (max-width: 890px) {
    .name{
        margin-top: 0.7rem;
    }
  }

  @media all and (max-width: 500px) {
    .name{
        margin-top: 0.35rem;
    }
  }